@charset 'utf-8';

.main-list	{
  padding: 10px 0;

  > li	{
    > a {
      display: block;
      padding: 20px 10px;
      background-color: #3470CD;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
  > li + li {
    padding: 10px 0 0;
  }
}
