@charset 'utf-8';


.refresher-spinner--circle	{
	padding: 10px;

	&__inner	{
		display: block;
		margin: 0 auto;
		width: 20px;
		height: 20px;
		border: 5px solid #eee;
		border-radius: 50%;
		border-right-color: transparent;
		animation: spin .5s linear infinite;
	}
}


@keyframes spin	{
	from	{
		transform: rotate(0deg);
	}
	to	{
		transform: rotate(359deg);
	}
}

